<form action="/charge" method="POST">
 <script
         data-zip-code="true"
         src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="pk_live_LYm0xWY1KR9htO9b6OkO4fFW "
         data-amount="999"
         data-name="Demo Site"
         data-description="Widget"
         data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
         data-locale="auto">
 </script>
</form>
